body{
	width: 100%;
	height: 90%;
	padding: 5%;
}
.input-group{
	width: 992px;
	width: 0%;
}
.input-group-btn.form-control{
		border-radius: 0%;
		float: left;
}

.btn-success{
	float: right;
	width: 10%;
	border-radius: 0%;
	position: absolute;
}